.tone-colour .pullquote {
    position: relative;
    padding: 35px 0 0 28px;
    color: #555;
    margin: 0 0 1px;
    margin: 1.25em 0;
}

.tone-colour .pullquote p {
  font-size: 1.5em;
  font-style: italic;
  line-height: 1;
  font-family: 'FinancierDisplayWeb', Georgia, serif;
  font-weight: 400;
  margin: 0;
}


.tone-colour .pullquote:before {
    font-size: 40px;
    line-height: 40px;
    font-family: 'FinancierDisplayWeb',Georgia,serif;
    font-style: italic;
    font-weight: 500;
    content: "“";
    position: absolute;
    top: -19px;
    left: 0;
    font-size: 60px;
    line-height: 1;
}
