.section {
  margin: 5px 0;
  padding: 0 1em;
}

.section__title,
.section__subtitle {
  text-align: center;
  font-weight: 200;
  color: #1D1D1D;
  margin: 0 auto;
}

.section:before { 
  display: block; 
  content: " "; 
    height: 55px;      /* Give height of your fixed element */
        margin-top: -55px; /* Give negative margin of your fixed element */    
        visibility: hidden; 
}

.section__title {
  padding: 22px 0 8px 0;
  font-size: 2.5rem;
}

.section__subtitle {
  padding: 18px 0 4px 0;
  font-size: 1.6rem;
}

@media (max-width:580px) {

  .section__title,
  .section__subtitle {
    text-align: left;
  }

  .section__title {
    padding: 18px 0 0 0;
    font-size: 1.8rem;
  }

  .section__subtitle {
    padding: 14px 0 0 0;
    font-size: 1.4rem;
  }
}
