.section {
  padding: .1em 1em;
}

.section__title,
.section__subtitle {
  text-align: center;
  font-weight: 200;
  color: #1D1D1D;
}

.section__title {
  margin: 22px auto;
  font-size: 2.5rem;
}

.section__subtitle {
  margin: 18px auto 9px auto;
  font-size: 1.6rem;
}

@media (max-width:580px) {

  .section__title,
  .section__subtitle {
    text-align: left;
  }

  .section__title {
    margin: 18px auto;
    font-size: 1.8rem;
  }

  .section__subtitle {
     margin: 14px auto 5px auto;
    font-size: 1.4rem;
  }
}
