.reading-nav {
  background-color: #3A3A3A;/*#FBE5DA;#FDF7F0*/
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /*border-bottom: 1px solid #A39D94;*/
  /*box-shadow: 0 1px 3px #A39D94;*/
  top:-100px;
}

.on {
  top: 0;
}

.reading-nav::-webkit-scrollbar { display: none; }

.reading-nav a{
  display: inline-block;
  padding: 20px .6em;
  text-align: center;
  font-family: 'MetricWeb', sans-serif;
  letter-spacing: .01em;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

.reading-nav a:hover {
  opacity: .9;
}

.reading-nav a.selected {
  opacity: 1;
  background: linear-gradient(to bottom, transparent 50%, #333 100%);
}

.reading-nav a.reading-nav__ft {
  padding: 13px 10px;
  float: left;
}

@media (min-width:660px) {
  .reading-nav a.reading-nav__ft {
    position: absolute;
    left: 10px;
    top: 13px;
    padding: 0;
  }
}

#reading-marker {
  position: absolute;
  content: " ";
  bottom: 0;
  height: 8px;
  background: #AE3358;
  width: 30px;
  left: 20px;
}

.reading-nav__sticky {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}
