.hero {
  height: 86vh;
  text-align: center;
  background-color: #fff;
  position: relative;
}

.hero__image {
  text-align: center;
  height: 100%;
  margin: 0 auto;
  padding: 2em;
  width: auto;
}

.hero__title {
  position: absolute;
  right: 25%;
  top: 0;
  font-size: 3em;
}
