.panels-nav {
  white-space: nowrap;
  background-color: #f1f1f1;
  padding: 0;
  text-align: center;
  height: 48px;
  position: relative;

  /* fixed */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.panels-nav::-webkit-scrollbar { display: none; }

.panels-nav ul {
  margin: 0;
  padding: 0;
}

.panels-nav li {
  display: inline-block;
  margin: 0 .5em 0 .5em;
}

.panels-nav__item {
  color: #333333;
  text-decoration: none;
  border-bottom: 5px solid transparent;
  padding: 8px 0 10px 0;
  display: inline-block;
}

.panels-nav__item--selected {
  border-color: #333333;
}

.panels-layer {
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: transform .5s ease;
}

#primer {
  transform: translate(0%, 0);
  z-index: 3;
}

#faq {
  transform: translate(100%, 0);
  z-index: 2;
}

#news {
  transform: translate(200%, 0);
  z-index: 1;
}
.panels-container {

}
