.chart-title, .sidebar-title{
	font-family: "MetricWeb", sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #333333;
	line-height: 22px;
	margin-bottom:0px;
}

p.chart-subtitle, .sidebar-subtitle{
	font-family: "MetricWeb", sans-serif;
	font-size: 18px;
	font-weight: 200;
	color: #333333;
	line-height: 22px;
	margin-top:0px;
	margin-bottom:0px;
}

p.sidebar-subtitle{
	font-size: 14px;
	margin-left: 5px;
}

p.sidebar-link{
	font-size: 10px;
	margin-left: 5px;
}

.fast-ft{
  background: #f6e9d8;
}

.source{
	font-family: "MetricWeb", sans-serif;
	font-size: 12px;
	font-variant: italic;
	color: #333333;
	
}

.fast-ft .source{
	margin-left: 5px;
}

.fast-ft .axis-label {
	font-size: 12px;
}

.responsive-date-line, .dot-plot {
	height: 300px;
	font-family: "MetricWeb", sans-serif;
}

.market-probability {
	height: 900px;
	font-family: "MetricWeb", sans-serif;
}

.market-probability-sidebar {
	height: 400px;
	width: 355px;
	font-family: "MetricWeb", sans-serif;
}

.market-probability-sidebar .axis-label{
	font-size: 12px;
}

.market-probability-sidebar .axis-line{
	stroke:#a7a59b;
}

.domain {
	fill: none;
}

.axis {
	fill-opacity: 0.5;
}

.ordinal-line {
	stroke: #000000;
	stroke-width: 1px;
	stroke-opacity: 0.2;
	shape-rendering: cripsEdges;
}

.ordinal-label {
	fill:#787878;
}

.y.axis line, .axis-line{
	stroke: #ddd;
	stroke-width: 1px;
	shape-rendering: cripsEdges;
}

.dot-plot .y.axis line{
	stroke: #ddd;
	stroke-opacity:0;
	stroke-width: 1px;
	shape-rendering: cripsEdges;
}

.responsive-date-line .s0-line {
		fill: none;
		stroke-width: 2;
		stroke: #af516c;
	}

.responsive-date-line .s0-line-key {
		fill: none;
		stroke-width: 2;
		stroke: #af516c;
	}

.responsive-date-line .s1-line {
		fill: none;
		stroke-width: 2;
		stroke: #4e86b6;
	}

.responsive-date-line .s1-line-key {
		fill: none;
		stroke-width: 2;
		stroke: #4e86b6;
	}

.responsive-date-line .s2-line {
		fill: none;
		stroke-width: 2;
		stroke: #92288f;
	}

.responsive-date-line .tick line {
		stroke: #000000;
		stroke-width: 1px;
		stroke-opacity: 0.1;
		shape-rendering: cripsEdges;
	}

.y.axis line, .axis-line {
		stroke-dasharray: 2, 2;
	}

.responsive-date-line .x.axis .domain {
		stroke: #999;
		stroke-width: 1px;
		shape-rendering: cripsEdges;
	}

.responsive-date-line .tick text {
		font-size: 16px;
		-webkit-font-feature-settings: 'tnum' 1;
		font-feature-settings: 'tnum' 1;
	}

.responsive-date-line .y.axis .tick line {
			stroke-dasharray: '10, 10';
	}

.dot-plot svg {
	font-size: 16px;
}

.vote-group {
	fill: #d7706c;
}

.vote-group.median {
	fill: #9e2f50;
}

.median-line {
	stroke: #000000;
	stroke-opacity: 0.2;
	shape-rendering: cripsEdges;
	stroke-width: 1;
	stroke-dasharray: 2 2;
}

.median-label {
	fill-opacity: 0.7;
 	font-weight: 600;
}

.probability-distribution{
	fill: #af516c;
}

.probability-distribution text{
	fill: #af516c;
	font-weight: 400;
	font-size: 12px;
}
.probability{
	fill:#bb6d82;
	shape-rendering: cripsEdges;
}

.meeting-label {
	font-size: 13px;
	font-weight: 400;
}
