* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-weight: 200;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  color: #333333;
  background-color: #d9d9d9;
}

body {
  margin: 0;
}
